*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color:#E45858;
    transform: scale(0.8);
  }
  
  .container-main{
    /* width: 100%; */
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: yellow; */
    margin: 6.25rem 7rem;
  }
  
  .titulo-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  
  .acao{
    width: 11,875rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }
  
  .botao-busca{
    background-color: #6246EA;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 24px;
    gap: 8px;
    width: 86px;
    height: 32px;
    cursor: pointer;
    transition: background 200ms ;
  }
  
  
  .botao-busca:hover{
    background: #523dbe;
  }
  
  #mapa{
    background-color: white;
    color: #6246EA;
    transition: background 200ms ;
  }
  
  #mapa:hover{
    background: #EAEAEA;
  
  }
  
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    padding: 0px;
    gap: 32px;
    border-radius: 10px;
    /* display:initial; */
  }


  ul{
    width: 100%;
    text-decoration: none;
    list-style: none;
  }

  li{
    width: 100%;
  }
  
  .box-card{
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    max-width: 384px;
    overflow: hidden;
  }

  .box-card .content{
    display: grid;
    padding: 16px;
    gap: 16px;
  }

  .box-card p{
    opacity: 0.75;
  }

  .box-card h3{
    color: #121214;
  }

  .box-card .location{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.75;
  }
  
  
  .titulo{
    font-family: 'Julee', cursive;
    letter-spacing: 2px;
  }

  .mapa{
    width: 80%;
    margin: auto;
    /* display: none; */
    padding-top: 2rem;
    visibility: hidden;
  }
  
  .mapa iframe{
    width: 100%;
    height: 30rem;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 3px #999;
  }
  
  